<!-- Humans Section -->
    <section id="humains" class="full-height">
        <div class="container-full columns">
            <div class="section-title">
                <h2>{{page.humains.title}}</h2>
            </div>
            <div class="column-text left">
                <p>{{page.humains.description}}</p>
            </div>
            <div class="column-image">
                <img src="{{ page.humains.image }}" alt="Image de l'humain">
            </div>
        </div>
    </section>