 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "assets/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    
    <!-- CAROUSEL -->
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@1.2.5/dist/js/splide.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "assets/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "assets/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <!-- <script src="{{ "assets/js/contact_me.js" | prepend: site.baseurl }}"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="{{ "assets/js/agency.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "assets/js/carousel.js" | prepend: site.baseurl }}"></script>
