<!-- matériel Grid Section -->
    <section id="materiel" class="full-height">
        <div class="container-full columns">
            <div class="section-title">
                <h2>{{page.materiel.title}}</h2>
            </div>
            <div class="column-carousel">
                <div class="splide">
                    <div class="splide__progress">
                        <div class="splide__progress__bar">
                        </div>
                    </div>
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for diapo in page.materiel.diapos %}
                            <li class="splide__slide">
                                <img src="{{ diapo.url }}" alt="slide of materiel section">
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column-text right">
                <p>{{page.materiel.description}}</p>
            </div>
        </div>
    </section>