<!-- Team Section -->
    <section id="references" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{page.references.title}}</h2>
                    <h3 class="section-subheading text-muted">{{page.references.description}}</h3>
                </div>
            </div>
            <div class="row row-flex">
                {% for ref in page.references.ref-list %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ ref.image }}" class="img-responsive img-circle" alt="">
                        <h4>{{ ref.name }}</h4>
                        <p class="text-muted">{{ ref.realisation }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in ref.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/939351049&color=%23fed136&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
            </div>
        </div>
    </section>