body {
	background-color: $color-bg;
}

p {
	color: white;
	letter-spacing: 3px;
}

.below-header {
	width: 100%;
}

.container-full {
	width: 100%;
	padding: 0;
}


.nav > li {
	text-align: center;
}


.dark-bg {
	background-color: transparentize(black, 0.5);
}

.columns {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.column-text {
	padding: 0 20px;
	width: 100%;
	order: 1;

	&.left, &.right {
		p {
			text-align: center;
		}
	}
}

.column-carousel, .column-image {
	order: 0;
}

.column-carousel {
	width: 100%;
}

.column-image {
	width: 100%;
	margin-bottom: 25px;
	img {
		max-width: 100%;
	}
}

.section-title {
	color: white;
	text-align: center;
	margin-bottom: 25px
}

.team-member img {
	max-width: 70%;
}

.row-flex {
	display: flex;
	flex-wrap: wrap;
}

@media(min-width:768px) {

	.navbar {
		height: 80px;
	}

	.columns {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.column-text {
		padding: 0 20px;
		width: 20%;
		order: inherit;

		&.left {
			p {
				text-align: right;
			}
		}

		&.right {
			p {
				text-align: left;
			}
		}
	}

	.column-carousel {
		order: inherit;
		width: 80%;
	}

	.column-image {
		order: inherit;
		width: 80%;
		img {
			max-width: 100%;
		}
	}

	section.full-height {
		min-height: 100vh;
		padding-top: 80px;
	}

	.section-title {
		display: none;
	}

	.team-member img {
		max-width: 100%;
	}
}

footer {
	background-size: cover;
	background-position: center;
	padding: 150px 0 30px 0;

	span.copyright {
	    color: white;
	    line-height: 20px;
	}
}