//Color settings (hex-codes without the leading hash-tag)

$color-primary: #fed136;
$color-secondary: #fec503;    
$color-secondary-dark: #333;
$color-muted: #777;
$color-bg: #222;
 

//Font Families
$font-primary: (Raleway, 'Montserrat', 'Helvetica Neue',Helvetica,Arial,sans-serif);
$font-secondary: ('Droid Serif', 'Helvetica Neue', Helvetica,Arial,sans-serif);
$font-brand: ("Cabin",sans-serif,"Helvetica Neue",Helvetica,Arial,cursive);